# =============== itracxing.dev env ==================PRINT_ENV=falseMINIO_ENDPOINT=127.0.0.1MINIO_BUCKET_NAME=exampleMINIO_PORT=9000MINIO_ROOT_USER=userMINIO_ROOT_PASSWORD=passwordMINIO_SSL=false